<a href="https://colab.research.google.com/github/Daniel-de-Jesus/Curso-Python-para-Data-Science-e-Machine-Learning/blob/main/Pandas_Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Series

O primeiro tipo de dado que aprenderemos é a Serie. Vamos importar Pandas e explorar tal objeto.

A Serie é muito semelhante a uma matriz NumPy (na verdade, ela é construída em cima do objeto de matriz NumPy). O que diferencia a matriz NumPy de uma Série, é que uma Serie pode ter rótulos de eixos, o que significa que pode ser indexado por um rótulo, em vez de apenas uma localização numérica. Também não precisa manter dados numéricos, ele pode conter qualquer objeto Python arbitrário.

Vamos explorar este conceito através de alguns exemplos:

In [2]:
#importando a biblioteca

import numpy as np
import pandas as pd

### Criando uma Serie

Você pode converter uma lista, numpy array ou dicionário para uma série:

In [3]:
labels = ['a','b','c']      #lista
minha_lista = [10,20,30]    #lista
arr = np.array([10,20,30])  #numpy array
d = {'a':10,'b':20,'c':30}  #dicionario

** Usando listas **

    Serie aceita a lista como artumento utilizando-se o argumento 'data', como mostrado abaixo:

    >>pd.Series(data= minha_lista)

In [4]:
#a indexacao e automatica
pd.Series(data=minha_lista)

0    10
1    20
2    30
dtype: int64

In [5]:
#mas podemos alterar a indexacao para nomes, letras...
pd.Series(data=minha_lista,index=labels)

a    10
b    20
c    30
dtype: int64

In [7]:
#uma segunda opcao seria:
pd.Series(minha_lista,labels)

a    10
b    20
c    30
dtype: int64

** NumPy Arrays **

    O mesmo processo pode ser feito para arrays do Numpy,
    apenas passando o array como um argumento para o objeto pd.Series().

In [8]:
#indice numerico, default

pd.Series(arr)

0    10
1    20
2    30
dtype: int64

In [9]:
#manipulando o indice

pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int64

** Dicionários **

In [11]:
#O dicionario e uma estrutura com chaves e valores

d

{'a': 10, 'b': 20, 'c': 30}

In [12]:
#podemos passa-lo como um argumento para a construcao de uma serie

pd.Series(d)

a    10
b    20
c    30
dtype: int64

### Dados nas Series

Uma série de pandas pode conter uma variedade de tipos de objeto:

In [ ]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [ ]:
# Mesmo funções (embora seja improvável que você use isso)
pd.Series([sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

## Usando um Índice

A chave para usar uma Serie é entender seu índice. O Pandas faz uso desses nomes ou números de índice, permitindo pesquisas rápidas de informações (funciona como uma tabela de hash ou dicionário).

Vamos ver alguns exemplos de como pegar informações de uma Serie. Vamos criar duas Series, ser1 e ser2:

In [19]:
#Aqui vamos passar uma lista de valores e os indices serao paises


ser1 = pd.Series([1,2,3,4],index = ['EUA', 'Alemanha','USSR', 'Japão'])
ser1

EUA         1
Alemanha    2
USSR        3
Japão       4
dtype: int64

In [20]:
ser2 = pd.Series([1,2,5,4],index = ['EUA', 'Alemanha','Italia', 'Japão'])
ser2

EUA         1
Alemanha    2
Italia      5
Japão       4
dtype: int64

In [21]:
#podemos fazer a selecao por rotulo ou indice

ser1['EUA']

1

As operações também são feitas com base no índice:

Se series são iguais do ponto de vista de rótulo podemos somá-las diretamente,

se eles tem diferentes rótulos o programa vai somá-las mas, aparecerá um erro(NaN)

In [ ]:
ser1 + ser2

Alemanha    4.0
EUA         2.0
Italia      NaN
Japão       8.0
USSR        NaN
dtype: float64

Vamos parar aqui por enquanto e passar para a DataFrames, que expandirá o conceito da Serie!